<footer class="pt-5">
  <div class="container">
    <!-- Row START -->
    <div class="row g-4">

      <!-- Widget 1 START -->
      <div class="col-lg-3">
        <!-- logo -->
        <a class="me-0" href="index.html">
          <img class="h-40px" src="assets/images/logo.webp" alt="logo">
        </a>
      </div>
      <!-- Widget 1 END -->

      <!-- Widget 2 START -->
      <div class="col-lg-8">
        <div class="row g-4">
          <!-- Link block -->
          <div class="col-6 col-md-6">
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#">Văn phòng Hoa Kỳ</a></li>
              <li class="nav-item"><a class="nav-link" href="#">academy@camly.co</a></li>
              <li class="nav-item"><a class="nav-link" href="#">+38 (099) 232 22 11</a></li>
              <li class="nav-item"><a class="nav-link" href="#">7777 Center Ave, Suite 250,</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Huntington Beach, CA 92647</a></li>
            </ul>
          </div>

          <!-- Link block -->
          <div class="col-6 col-md-6">
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#">Văn phòng Việt Nam</a></li>
              <li class="nav-item"><a class="nav-link" href="#">academy@camly.co</a></li>
              <li class="nav-item"><a class="nav-link" href="#">028 3827 7697</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Tầng 17, SaiGon Tower, 29 Lê Duẩn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam.</a></li>
            </ul>
          </div>

        </div>
      </div>
      <!-- Widget 2 END -->

    </div><!-- Row END -->

    <!-- Divider -->
    <hr class="mt-4 mb-0">

    <!-- Bottom footer -->
    <div class="py-3">
      <div class="container px-0">
        <div class="d-md-flex justify-content-center align-items-center text-center text-md-left">
          <!-- copyright text -->
          <div class="text-primary-hover">
            <p>CÔNG TY CỔ PHẦN CAMLY ACADEMY | Mã số doanh nghiệp: 0316912725 do Sở Kế hoạch & Đầu tư TP Hồ Chí Minh cấp lần đầu ngày 18/06/2021.</p>
            <p> Địa chỉ: Tầng 16, SaiGon Tower, 29 Lê Duẩn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam.</p>
            <p>Email: academy@camly.co</p>
          </div>
          <!-- copyright links-->
        </div>
      </div>
    </div>
  </div>
</footer>
