<div class="d-flex justify-content-center">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/5bd948c1-bdc3-41c8-afdf-e91029fee892.webp" class="d-block rounded-2" alt="...">
      </div>

      <div class="carousel-item">
        <img src="/assets/images/7136f58d-b723-4431-9d02-14a39e49564f.webp" class="d-block rounded-2" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<section class="py-0 py-xl-5">
  <div class="container">
    <div class="row g-4">
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              <img src="/assets/images/logo.webp" alt="logo" width="78px" height="50px">
            </a>
          </span>
          <div class="ms-4 h6 fw-normal">
            <div class="d-flex">
              <h5>102</h5>
            </div>
            <p class="mb-0">Các Khóa học</p>
          </div>
        </div>
      </div>
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-primary bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              <img src="/assets/images/logo.webp" alt="logo" width="78px" height="50px">
            </a>
          </span>
          <div class="ms-4 h6 fw-normal">
            <div class="d-flex">
              <h5>646</h5>
            </div>
            <p class="mb-0">Videos</p>
          </div>
        </div>
      </div>
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-secondary bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              <img src="/assets/images/logo.webp" alt="logo" width="78px" height="50px">
            </a>
          </span>
          <div class="ms-4 h6 fw-normal">
            <div class="d-flex">
              <h5>107.1</h5>
              <span class="mb-0 h5">K</span>
            </div>
            <p class="mb-0">Học viên</p>
          </div>
        </div>
      </div>
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-success bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              <img src="/assets/images/logo.webp" alt="logo" width="78px" height="50px">
            </a>
          </span>
          <div class="ms-4 h6 fw-normal">
            <div class="d-flex">
              <h5>139</h5>
            </div>
            <p class="mb-0">Giảng Viên</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
